html {    
    font-family: sans-serif;
}

body {
    background-color: rgb(211, 211, 211);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
}

.maincontent {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    border-radius: 0.25rem;
    background-color: rgba(240, 240, 240, 0.97);
}

@media (max-width: 800px) {
    .maincontent {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 2rem 1rem;
    }
}
@media (min-width: 800px) {
    .maincontent {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem 3rem;
    }
}

h1 {
    margin-bottom: 0;
}

hr {
    margin: 0;
}

.header{
    display: flex;
    flex-wrap: wrap;
}

.header h1 {
    vertical-align: baseline;
    margin: 0.1rem 0px;
    text-align: start;
    flex: 50%;
}

.header.rightside div {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: min-content;
    vertical-align: text-bottom;
    font-size: 1.3rem;
}

.header img {
    vertical-align: bottom;
    margin: 0.6rem 0 0 0;
    flex: 50%;
    align-self: flex-end;
}

.header a {
    flex: 50%;
    text-decoration: none;
    font-size: 1.15rem;
    vertical-align: bottom;
    align-self: flex-end;
    background-color: inherit;
    border-style: none;
    color:rgba(0, 38, 255, 0.8);
    padding: 0.2rem 0.3rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.header a:visited {
    color:rgba(0, 38, 255, 0.8);
}

.header a:hover {
    background-color: #d1d1d1;
    text-decoration: none;
}

h2 {
    margin: 1.2rem 0 0.2rem 0;
    font-size: 1.35rem;
}

h3 {
    margin: 1.2rem 0 0.2rem 0;
}

ul, ol {
    margin-top: 0.9rem;
}

p, ul li, ol li {
    font-family: 'Times New Roman', Times, serif;
    margin: 0.3rem 0;
    font-size: 1rem;
    text-align: justify;
    text-align-last: start;
}

a {
    text-decoration: none;
    color:rgb(0, 38, 255);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:rgb(0, 38, 255);
}

table {
    width: 100%;
}