body {
  overflow: overlay;

  /*firefox*/
  scrollbar-width: 10px;
  scrollbar-color: rgb(190, 190, 190) none;
}


::-webkit-scrollbar {
  padding: 100px;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: none;
}
 
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgb(122, 122, 122); 
  background: rgb(190, 190, 190); 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 128, 128); 
  box-shadow: inset 0 0 3px rgb(88, 88, 88); 
}