.backgroundimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  background-attachment: fixed;
  z-index: -3;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}