@import url(sans-serif.css);

p {
  margin-bottom: 1.5em;
}

ul {
  display: inline;
  width: 100%;
  align-items: stretch; /* Default */
  justify-content: space-between;
}

ul li {
  display: inline;
  width: 100%;
  margin-right: 10%;
}