---
layout: blog_type
title: Home
description: The landing page of ichigancs.com
backgroundimage: /images/main-background.jpg
backgroundimagedesc: Excerpt from Loewe's &quot;Der Woywode&quot; also known as &quot;Die Lauer&quot;
specialcss: /css/main-style.css
showinmore: false
language: en
---


<h1>Welcome to 
  <a href="/">
    ichigancs.com</a>!
</h1>

<p>
  This is the landing page, please choose one of the following topics:
</p>
<ul>
  <li>
    <a href="aboutme/">About me</a>
  </li>
  <li>
    <a href="httyd/">HTTYD</a>
  </li>
  <li>
    <a href="more/">More articles and links</a>
  </li>
</ul>