---
---

<meta property="og:site_name" content="ichigancs.com">
<meta property="og:url" content="https://ichigancs.com">
<meta property="og:title" content="{{ include.title }}">
<meta property="og:description" content="{{ include.desc }}">
<meta property="og:type" content="website">
<meta name="og:image" itemprop="image" content="{{ include.img }}">