<!DOCTYPE html>
<html lang="{{page.language}}">
  <head>
    <meta charset="utf-8"/>
    <meta name="generator" content="GitLab Pages"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{page.title}} - IchiganCS</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/blog-style.css"/>
    <link rel="stylesheet" href="/css/fixed-image.css"/>
    <link rel="stylesheet" href="/css/custom-scrollbar.css"/>
    {% if page.specialcss %}
    {% unless page.specialcss == "" %}
    <link rel="stylesheet" href="{{page.specialcss}}"/>
    {% endunless %}
    {% endif %}
    <meta name="google-site-verification" content="J-_DkACg-4kobO65pNe_k1JcBFo0v6n3GUY30X6HEf0"/>
    <meta name="author" content="IchiganCS">
    <meta name="description" content="{{page.description}}"/>
    <meta property="og:site_name" content="ichigancs.com"/>
    <meta property="og:url" content="https://ichigancs.com"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{page.description}}"/>
    <meta property="og:type" content="website"/>
    <meta name="og:image" itemprop="image" content="/images/ProfilePhoto.jpg"/>
  </head>
  <body>
    <img src="{{page.backgroundimage}}" alt="{{page.backgroundimagedesc}}" class="backgroundimage">

    <div class="maincontent">
      {% unless page.title == "Home" %}
      <div class="header">
        <h1>{{page.title}}</h1>
        <div class="rightside"> 
          <a href="/">Home</a>
          {% unless page.title == "More" %}
            <a href="/more/">Other</a> 
          {% endunless %}
          <img src="/images/ProfilePhoto-small.jpg" 
                alt="Profile photo of IchiganCS"
                width="25"
                height="25"/>
        </div>
      </div>
      <hr>
      {% endunless %}
      {{content}}
  </body>
</html>
